@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="mission">

<blockquote>

<p >


Bitiya core members consist of women who are passionate about causes related to girl education . Our origins are based in
New Jersey , United States and all operations are mainly carried out from New Jersey. In addition , we have a volunteer team of about 15 people
who help us with events and spreading awareness. Bitiya also operates Teens for Bitiya which hosts every year a walkathon in 
West Windsor , New Jersey which has been a huge success so far.


</p>

</blockquote>

</div>

<h2 style="padding: 1em 9em 1em 8em;margin: 0.625em 0;">Founders and Directors</h2>

<div style="padding: 1em 9em 1em 8em;margin: 0.625em 0;" >

   <p>Neetu Thomas , Founder and Director</p>
   <p>Sandhya Goel , Founder and Director</p> 
   <p>Shubha Bajpai , Director</p>
   <p>Seema Iyer    , Director</p>
   <p>Nilima Palekar, Director</p>
   <p>Neera Bhargava , Director</p>
   <p>Madhuri Mittal , Director</p>



</div>





