@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="maincontent">
    @*<div id="nav_middle">
        <ul class="topmenu">
            <li class="li_main"> @Html.ActionLink("PPES", "ppes", "Projects", new { @class = "content_nav" })</li>
            <li class="li_main"> @Html.ActionLink("BVK", "bvk", "Projects", new { @class = "content_nav" })</li>
            
        </ul>
    </div>*@
    

    <p>
        Bitiya has contributed towards several projects globally since it's inception. We
        have partnered with many other organizations that have the same mission alignment
        as us supporting them with donations and ideas to further the impact of the cause
        . Below is a summary of our contributions so far in different projects through the
        years. For a more detailed financial report please go to our <a href="../Financials/Index"
            class="content_nav">financials</a> page. Our most current ongoing projects are
        Bitiya Vikas Kendra and PPES . Our goal for the next year is to support these two
        in cash , kind and other strategic support that we can provide.
    </p>
    <br />
    <br />

     @*<div id="shell">*@
     

            <center><h1>Project Pragati</h1></center>

            <p style="-moz-border-radius: 45px;-webkit-border-radius: 45px; border-radius: 45px; border: 1px solid orange;padding: 12px;width:800px;"">

              
      
              Pardada Pardadi translates directly into English as "great-grandparents". 
              The term is used as an analogy to the ancient Indian wisdom that knowledge and education 
              from your family contributes to the full blossoming of an individual.

              Since 2000, Pardada Pardadi Educational Society (PPES) has been improving the lives of girls in rural India. 
              Its mission is to uplift and empower girls from the poorest section of society by providing 
              free education and vocational training - creating a new generation of self-reliant and educated girls 
              who will break the cycle of poverty in the region.   
              To know more , visit our @Html.ActionLink("PPES", "ppes", "Projects", new { @class = "content_nav" }) page.
            </p>

    @*</div>*@

    <br />
    @*<div id="shell">*@
   
        <center><h1>Bitiya Vikas Kendra</h1></center>

        <p style="-moz-border-radius: 45px;-webkit-border-radius: 45px; border-radius: 45px; border: 1px solid orange;padding: 12px;width:800px;"">
                               
             Bitiya Vikas Kendra was established to provide girls coming from rural and unprivileges families vocational training at a minimal fee. It is a major
             undertaking by Bitiya in the last two years in partnership with Bharat Vikas Parishad , aka. BVP.
             As part of the program we have funded the construction of the school which has been fully functional
             starting Janauary of 2013 . Currently we have Computer courses and Stitching / Sewing classes as part of the classes we offer.

             To know more , visit our @Html.ActionLink("BVK", "bvk", "Projects", new { @class = "content_nav" }) page.
    
        </p>
    


    @*</div>*@
   
</div>
