<?xml version="1.0" encoding="utf-8"?>
<!--bitiya latest
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  -->
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="madhuri.mittal@gmail.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="madhuri.mittal@gmail.com" password="shadsamy" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="eventsImagesFolderPath" value="images/Events/HolmdelWalkathon" />
    <add key="EventsToolTipsFolderPath" value="images/Events/HolmdelWalkathon/Tooltips" />
    <add key="ProjectsPPESFolderPath" value="../images/Projects/PPES" />
    <add key="PPESToolTipsFolderPath" value="../images/Projects/PPES/Tooltips" />
    <add key="ProjectsBVKFolderPath" value="../projects/data1/images" />
    <add key="BVKToolTipsFolderPath" value="../projects/data1/Tooltips" />
    <add key="ToGetInvolved" value="manjeera@hotmail.com" />
    <add key="CCGetInvolved" value="madhurimittal@bitiya.org" />
    <!--<add key="ToGetInvolved" value="uspatankars@gmail.com"/>
    <add key="CCGetInvolved" value=""/>-->
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=basil.arvixe.com;Initial Catalog=bitiya;Persist Security Info=True;User ID=bitiya_database;Password=b1+1ya2013" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>