@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="MainContent" style="text-align: center">
<span>So far we have published the following Newsletters:</span>
<br />
<br />
<p>
    <a href="~/Content/Documents/Newsletter/Bitiya Buzz Dec 2012.htm" class="content_nav">December, 2012</a></p>
<p>
    <a href="~/Content/Documents/Newsletter/Bitiya Buzz Summer 2011.doc" class="content_nav">Summer, 2011</a></p>
<p>
    <a href="~/Content/Documents/Newsletter/Bitiya Buzz Spring 2011.doc" class="content_nav">Spring, 2011</a></p>
<p>
    <a href="~/Content/Documents/Newsletter/Bitiya Buzz Dec 2010.docx" class="content_nav">December, 2010</a></p>
</div>
