@{
    ViewBag.Title = "Bitiya_Paypal";
}

    <script type="text/jscript">
        document.domain = "bitiyaanmol.org";
    </script>

<div class="main">
    <div id="mission">
        <p>
            Donate to support girls to build a better life for themselves, their families and
            their communities at large. Every one of your dollars is an investment towards providing
            a building block for a girl’s life. Donations made on our site are redirected to
            a secure section of PayPal.com to complete the payment portion of the donation transaction.
            Data sent to PayPal.com is encrypted using SSL technology, the most widely used
            data encryption coding system for secure e-commerce transactions. If you still have
            any concerns about donating online, feel free to speak to us at 1 732 688 7249.
            Your contribution is tax-deductible as described on your receipt and to the extent
            allowed by law. Bitiya is organized under the laws of the state of New Jersey, United
            States and is a nonprofit 501(c)(3) organization. EIN/tax ID number: 26-1416681
            . In order to ensure a high level of transparency and accountability we would like
            to give you an insight into our donation receipts. We want to <strong>thank you sincerely</strong>
            for all the received donations. We look forward to presenting you with the successful
            progress.
        </p>
    </div>
    <table>
        <tr>
            <td valign="top" style="padding-top: 30px; padding-left: 150px">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="597">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="44H6AEHN22DCQ">
                            <input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/en_US/i/btn/btn_donateCC_LG.gif"
                                border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/en_US/i/scr/pixel.gif"
                                width="1" height="1">
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
